.container.dashboard {
  background-color: #f3f2ed;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.dashboard h2 {
  $headers-font: "Archivo", "Helvetica", "sans-serif";
  color: #463526;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.dashboard p {
  $body-font: "Crimson Text", "Georgia", "serif";
  margin-bottom: 30px;
  font-size: 1.2em;
}

.dashboard-cards .card {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-cards .card-body {
  padding: 15px 20px;
}

.dashboard-cards .card-body i.icon-large {
  font-size: 2em; /* Augmenter la taille des icônes */
  color: #000;
}

.dashboard-cards .card-body a {
  flex-grow: 1;
  text-align: left;
  padding-left: 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  position: relative;
}

.dashboard-cards .card-body .fa-caret-right {
  font-size: 1.2em;
}

.logout-button .btn-logout {
  background-color: #8d8d7f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border: none;
}

/* Styles spécifiques pour les écrans mobiles */
@media (max-width: 576px) {
  .logout-button {
    display: flex;
    justify-content: center;
  }

  .logout-button .btn-logout {
    width: 100%;
    max-width: 300px; /* Vous pouvez ajuster cette valeur selon vos besoins */
  }
}
