/* Couleur de fond pour la page */
body {
  background-color: #f3f2ed;
}

/* Style pour la section héro */
.hero-section {
  background-image: url('https://img.freepik.com/vecteurs-libre/fond-encre-aquarelle-alcool_23-2149221556.jpg?w=740&t=st=1721248486~exp=1721249086~hmac=c9a27fee6fd9cac3eb24f6909fc432f18000e82ea480de27a1238e9652a876fc');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style personnalisé pour le bouton */
.custom-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: black;
  color: white;
}

/* Conteneur */
.container {
  max-width: 1200px;
}

h2 {
  color: #5a5a5a;
  margin-bottom: 40px;
  font-weight: bold;
}

.step-card {
  background-color: #fafaf6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.step-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-card p {
  color: #666;
  font-size: 1rem;
}

.step-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
