.results-container {
  padding: 20px;
  background-color:#F3F2ED;
  ;
  .back-orga{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;

    .back-icon {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;

      .fa-chevron-left {
        font-size: 1.5rem;
        color: #000000;
      }
    }
  }

  .title-result {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
  }



  // .dropdown {
  //   text-align: center;
  //   margin: 20px 0;

  //   .dropdown-toggle {
  //     background-color: #a8a89e;
  //     border: none;
  //     padding: 10px 20px;
  //     font-size: 16px;
  //     color: #fff;
  //     cursor: pointer;
  //   }

  //   .dropdown-menu {
  //     background-color: #a8a89e;
  //     width: 100%;
  //     text-align: center;
  //     padding: 0;

  //     .dropdown-item {
  //       font-size: 16px;
  //       padding: 10px;
  //       color: #fff;
  //       border-bottom: 1px solid #fff;

  //       &:last-child {
  //         border-bottom: none;
  //       }
  //     }

  //     .dropdown-item:hover {
  //       background-color: #949483;
  //     }
  //   }
  // }

  .sub-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }

  .perfumes-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .perfume-card {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 10px;
      margin: 10px 0;
      width: 80%;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .perfume-photo {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        margin-right: 10px;
      }

      .perfume-info {
        flex: 1;

        .perfume-name {
          font-size: 16px;
          font-weight: bold;
        }

        .perfume-brand {
          font-size: 14px;
          color: #888;
        }

        .perfume-link {
          font-size: 20px;
          color: #000;
        }
      }

      .favorite-link {
        font-size: 20px;
        color: #e74c3c;
      }
    }
  }
}

.resultats-section {
  margin-bottom: 30px; // Espacement entre les sections

.btn-resultats {
  background-color: #9A9B89;
  margin-bottom:0px;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
   width: 100%; // Prend toute la largeur du conteneur

  i {
    font-size: 1rem;
    margin-left: 10px;
    text-decoration: none;
  }

  &.collapsed {
    i {
      transform: rotate(180deg);
    }
  }
}

  .collapse{
    background-color: #9A9B89; // Même fond que le bouton
    padding: 10px; // Espacement
    border-radius: 0px 0px 4px 4px; // Coins arrondis
    width: 100%; // Assure que la section de notes prend toute la largeur
    box-sizing: border-box; // Inclut le padding et la bordure dans la largeur totale
    text-decoration: none;

    ul{
      padding-left:0px;
    }

    li {
      list-style-type: none;
      margin-bottom: 10px;
      text-decoration: none;
      color: black; // Texte en blanc
      font-weight: bold;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: black;
    }

    hr {
      color: white;
      width: 60%;
      border:5px;
      border: 1px solid white;
      margin-left: 50px;
    }
  }
}
