body {
  background-color: #f3f2ed;
}

.navbar-dark {
  background-color: #000 !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff !important;
}

.nav-link {
  color: #000 !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #333 !important;
}

.dropdown-menu {
  background-color: #f5f5f5 !important;
}

.offcanvas-header {
  background-color: #f3f2ed;
}

.offcanvas-body {
  background-color: #f3f2ed;
}

.btn-outline-secondary {
  color: #000;
  border-color: #000;
}

.btn-outline-secondary:hover {
  background-color: #000;
  color: #fff;
}

.rating .bi-star-fill {
  color: #f39c12;
}

.rating .bi-star {
  color: #ccc;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
  background-color: #333;
  border-color: #333;
}

.btn-secondary {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-secondary:hover {
  background-color: #999;
  border-color: #999;
}
