<div class="container">
  <h1>TABLEAU DE BORD</h1>
  <p>Bonjour, @username</p>

  <div class="informationspersonnelles">
    <i class="fa-regular fa-user"></i>
    <p>Informations personnelles</p>
    <i class="fa-solid fa-caret-right"></i>
  </div>

  <div class="mesfavoris">
    <i class="fa-regular fa-heart"></i>
    <p>Mes favoris</p>
    <i class="fa-solid fa-caret-right"></i>
  </div>

  <div class="mesresultats">
    <i class="fa-solid fa-magnifying-glass"></i>
    <p>Mes résultats</p>
    <i class="fa-solid fa-caret-right"></i>
  </div>

  <div class="mesachats">
    <i class="fa-solid fa-cart-shopping"></i>
    <p>Mes achats</p>
    <i class="fa-solid fa-caret-right"></i>
  </div>

  <div class="button">
    <p>SE DECONNECTER</p>
  </div>

</div>
