<div class="Contenaire">

  <i class="fa-solid fa-caret-left"></i>
  <h1>MES FAVORIS</h1>

  <div class="parfums">

    <div class="img">Photo du parfum</div>
    <i class="fa-solid fa-heart"></i>
    <h2>Nom du parfum</h2>
    <h3>Brand</h3>
    <i class="fa-solid fa-caret-right"></i>

  </div>

</div>
