<div class="hero-section text-center">
    <div class="container">
        <h1 class="hero-title">Trouvez le parfum qui vous correspond</h1>
        <a class="btn btn-lg custom-btn mt-4" href="<%= new_result_path %>">Démarrer le questionnaire</a>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center">COMMENT ÇA MARCHE</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 mb-4">
            <div class="step-card text-center p-4">
                <h3>1. Questionnaire</h3>
                <p>Répondez à notre questionnaire de moins de 5 min</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="step-card text-center p-4">
                <h3>2. Résultats</h3>
                <p>Des validation de votre questionnaire, vous aurez accès à une sélection de parfums, que vous pourrez retrouver sur votre dashboard.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="step-card text-center p-4">
                <h3>3. Achat du parfum</h3>
                <p>Votre choix est fait ! Il vous suffit de l'acheter ou de localiser le magasin le plus proche.</p>
            </div>
        </div>
    </div>
</div>
