<div class="container">

  <i class="fa-solid fa-caret-left"></i>
  <h1>INFORMATIONS PERSONNELLES</h1>

  <div class="entrelesinfos">

    <div class="prenom">
      <p>PRENOM*</p>
    </div>

    <div class="nom">
      <p>NOM*</p>
    </div>

    <div class="email">
      <p>EMAIL*</p>
    </div>

    <div class="adresse">
      <p>ADRESSE*</p>
    </div>

    <div class="motdepasse">
      <p>MOT DE PASSE*</p>
    </div>
    <p>*Ces champs sont obligatoire</p>

  </div>

  <h2>ACTIVER LES NOTIFICATIONS</h2>
  <i class="fa-solid fa-toggle-on"></i>

  <h2>RECEVOIR LA NEWSLETTER</h2>
  <i class="fa-solid fa-toggle-off"></i>

</div>
