<div class="container">

  <i class="fa-solid fa-caret-left"></i>
  <h1>MES RESULTATS</h1>

  <p>Retrouvez les listes de parfums générées via les questionnaires effectués.</p>

  <div class="toutmesresultats">
    <p>TOUS MES RESULTATS</p>
    <i class="fa-solid fa-caret-right"></i>
  </div>

 <h2>CES PARFUMS QUI VOUS CORRESPONDENT...</h2>

 <P>Ces parfums ont été plusieurs fois proposés à la suite de vos questionnaires :</P>


  <div class="parfums">

    <div class="img">Photo du parfum</div>
    <i class="fa-solid fa-heart"></i>
    <h2>Nom du parfum</h2>
    <h3>Brand</h3>
    <i class="fa-solid fa-caret-right"></i>

  </div>

  <div class="parfums">

    <div class="img">Photo du parfum</div>
    <i class="fa-solid fa-heart"></i>
    <h2>Nom du parfum</h2>
    <h3>Brand</h3>
    <i class="fa-solid fa-caret-right"></i>

  </div>

</div>
