<div class="results-container">
  <div class="back-orga">
    <div class="back-icon">
      <%= link_to dashboard_path do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
    <h2 class="title-result">MES RESULTATS</h2>
  </div>
  <p>Retrouvez les listes de parfums générées via les questionnaires effectués.</p>

  <div class="resultats-section">
      <p data-bs-toggle="collapse" href="#resultats" role="button" aria-expanded="false" aria-controls="resultats" class="btn-resultats">
        TOUS MES RESULTATS <i class="fa-solid fa-chevron-down"></i>
      </p>
      <div class="collapse" id="resultats">
        <div class="collapse-result">
          <% if @results.any? %>
            <% @results.each do |result| %>
              <ul>
                <%= link_to result_path(result) do %>
                  <li>VOS RESULTATS DU <%= formatted_date(result.created_at).upcase %></li>
                <% end %>
                  <hr>
              </ul>
            <% end %>
          <% else %>
            <p>Aucune résultat disponible pour le moment.</p>
          <% end %>
        </div>
      </div>
    </div>


  <h2 class="title-result text-center">CES PARFUMS QUI VOUS CORRESPONDENT...</h2>

  <P>Ces parfums ont été plusieurs fois proposés à la suite de vos questionnaires :</P>

</div>
