<div class="container">
  <div class="retour">
    <i class="fa-solid fa-arrow-left"></i>
    <p>Retour</p>
  </div>

  <div class="img">
    <i class="fa-regular fa-heart"></i>
    <div class="img">Photo du parfum</div>
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
    <p>Favori</p>
    <p>Price</p>
  </div>

  <p> Boutton Trouver mon parfum</p>
  <p> Boutton Ajouter au panier</p>
  <i class="fa-solid fa-cart-shopping"></i>

  <div class="parfum">
    <h1>parfum name</h1>
    <h2>Brand</h2>
    <h3>Intensité</h3>
    <p>Elle sème le trouble sur son passage et parfois même provoque avec malice, jouant de l’ambiguïté de ses courbes androgynes. Dans l’ombre de sa silhouette, le souvenir de Jicky, une femme dont Aimé Guerlain tomba amoureux lors de ses études en Angleterre. Le parfumeur rendra hommage à cet amour de jeunesse avec un sillage si révolutionnaire qu’il fut qualifié de premier parfum moderne. Jicky brise les frontières du masculin-féminin et surprend par la radicalité de ses contrastes. Quand sa lavande citronnée et son accord de fougère soufflent le froid, ses notes boisées et vanillées apportent chaleur et caractère. S’il dérouta d’abord les femmes autant qu’il séduisit les hommes, avant d’être adopté par tous, Jicky demeure à jamais « de l’émotion offerte dans un flacon ».</p>
  </div>

<div class="description-notes">
  <p>Note de parfum</p>
  <i class="fa-solid fa-caret-up"></i>
</div>

</div>
